body, html {
    height:100%;
}
.image1{
    background-image: url("../starter-pokemons.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.words1{
    margin-top: 65vh;
    
}
.image2{
    background-color:white;
    height: 75vh;
    width: 100vw;
}
.fa-leaf{
    margin-top: 20vh;
    margin-left: 8vw;
    color: green;
}
.fa-fire{
    margin-top:20vh;
    margin-left: 9vw;
    color: red;
}
.fa-tint{
    margin-top:20vh;
    margin-left: 9vw;
    color: blue;
}
.fa-bolt{
    margin-top:20vh;
    margin-left: 10vw;
    color: yellow;
}
.icon{
    font-size:5rem;
}
.main{
    text-align: center;
 
}
.main2{
    text-align: justify;
}
.btn-danger{
    margin-left:8vw;
} 
.btn-warning{
    margin-left:7vw;
}
.btn-success{
    margin-left:7vw;
}
.btn-primary2{
    margin-left:7vw;
}
.image4{
    background-image: url("../pokeball-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.updates{
    text-align:center;
    color:white;
}
.email{
    margin-left: 11vw;
    width: 25vw;
}
.updates2{
    margin-top:9vh;
}
.news{
    font-size: .5rem;
}
.platforms{
    text-align:center;
    color:white;
    margin-top:9vh;
    margin-left:2vw;
}
.icon2{
    font-size:3rem;
    color:white;
    margin-top:2vh;
    margin-right:2vw;
}
.fa-twitter{
    margin-left:17vw;
    color:lightblue;
}
.fa-instagram{
    color:rgb(170, 61, 61);
}
.image5{
    display:inline;
    height:50vh;
}
.card-img-top{
    width:10vw;
    position:center;
    margin-left:10vw;
}
.empty{
    background-color: rgb(219, 219, 219);
}